body {
  margin: 0;
  padding: 0;
  background-color: lightblue;
}

.container {
  margin: 10px;
  padding: 0;
}

.filters {
  margin-top: 5px;
}

select {
  display: block;
  width: 100%;
  padding: 8px;
  color: #8e979f;
  outline: none;
} */

/* 
#table-area th {
  text-align: center;
} */
/* 
#table-area th:first-child,
#table-area th:nth-child(2),
#table-area th:nth-child(6) {
  min-width: 70px;
}

.loader {
  margin-top: 50px;
}

.margin-top-50 {
  margin-top: 50px;
} */